body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .parallax-container {
    /* background-image: url("https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg");Replace 'background.jpg' with your image */
    background-color: brown;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
align-items:center;


  }
  .parallax-image-right-image{
    margin-left: 200px;
    right: 0;
    
  }
  .parallax-image-left-image{
    left: 0;
    
  }
  .parallax-text {
    align-items: center;
    margin-left: 100px;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Adds a subtle shadow to text */
    opacity: 0.5; /* Optional: Adjust the opacity to your preference */
  }
  
  .about-section{
  
    background-color: black;
    height: 90vh;
  }

  .project-section {
    height: 90vh;
    background-color: bisque;
  }